  <nav class="navbar navbar-light bg-yellow">
    <%= link_to root_path do  %>
      <h1 class="logo">Cocktail Club</h1>
    <% end %>

      <button type="button" id="btn_add_ingredient" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        New cocktail
      </button>


  </nav>



<div class="home-img">
  <h3 class = "img-header">Explore our cocktail recipes!</h3>
</div>

<div class="container">
  <div class="cards">
    <% @cocktails.each do |cocktail| %>
      <%= link_to cocktail_path(cocktail) do %>
        <% if cocktail.photo.attached? %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path cocktail.photo.key %>')">
            <div class="card-title"><h3><%= cocktail.name %></h3></div>
          </div>
        <% else %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('/assets/drinks.jpg')">
            <div class="card-title"><h3><%= cocktail.name %></h3></div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>







      <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Add cocktail</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render 'formcocktail' %>
      </div>
    </div>
  </div>
</div>






